body{
    background-image:url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.p{
    color: white;
    margin-top: 100px;
    align-items: center;
}
.main{
    margin-top:50px;
    display: flex;
    margin-left: 300px;
}
.p1{
    height: 12vh;
    width: 10vw;
}
.p2{
    height: 12vh;
    width: 7vw;
}
.p3{
    height: 12vh;
    width: 9vw;
}
.a{
    margin-inline:40px;
}
.b{
    margin-inline:40px;
}
.c{
    margin-inline:40px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:75%;
    width:100%;
    position:absolute;
}
.form4 {
    background-color: #4DB7FE;
    background-size: cover
}

.top {
    padding-top: 100px;
    padding-bottom: 100px
}

.form-bg {
    background: rgba(68, 68, 65, 0.77);
    padding: 20px
}

.form {
    background-color: white !important;
    padding: 20px
}

.form-group {
    margin-bottom: 20px
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.form-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #61615e;
    background: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

button.btn {
    display: block;
    padding: 11px 32px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 30px 0px
}

.btn-blue {
    background-color: #4285f4;
    color: #fff;
    border: 1px solid #4285f4
}